<div class="card">
  <div class="avatar">
    <img
      src="https://preview.keenthemes.com/metronic/theme/html/demo5/dist/assets/media/svg/avatars/018-girl-9.svg"
      alt=""
    />
  </div>
  <div class="bio">
    <h4>Name User</h4>
    <p>Computer Engineer</p>
  </div>
  <div class="description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eaque,
      qui eum deserunt exercitationem cupiditate enim quae nam nesciunt
      explicabo aut officiis recusandae.
    </p>
  </div>
</div>
